*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
	min-width: 1000px;
}
.all-page-wrap{
	position: relative;
}
#header{
	min-height: 50px;
	background-color: #0036ff;
}
ul{
	list-style-type: none;
}
.wrap{
	max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    height: 100%;
    min-height: inherit;
    overflow: hidden;
}
#header .wrap{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction:row;
    justify-content:flex-end;
    align-items:center;
}
#header .contacts{
	float: right;
	margin:0;
}
#header .contacts li{
	float: left;
	margin-left: 20px;
}
#header .contacts ul{
	margin: 0;
}
#header .contacts .location-icon {
	width: 18px;
	height: 25px;
	background: url('../img/icons/location.png');
	display: inline-block;
	margin-right: 18px;
    top: 8px;
    position: relative;
}
#header .contacts .location-name {
	margin: 0;
	color:#ffffff;
	font-size: 14px;
	font-family: "CenturyGothic";
	line-height: 46px;
}
#header .contacts .phone-icon {
	width: 21px;
	height: 21px;
	background: url('../img/icons/phone.png');
	display: inline-block;
	margin-right: 18px;
    top: 6px;
    position: relative;
}
#header .contacts .phone-name {
	margin: 0;
	color:#ffffff;
	font-size: 14px;
	font-family: "CenturyGothic";
	line-height: 48px;
}
#header .contacts .email-icon {
	width: 22px;
	height: 16px;
	background: url('../img/icons/mail.png');
	display: inline-block;
	margin-right: 18px;
    top: 3px;
    position: relative;
}
#header .contacts .email-name {
	margin: 0;
	color:#ffffff;
	font-size: 14px;
	font-family: "CenturyGothic";
	line-height: 48px;
}



#nav-block{
    position: relative;
}
#nav-block .sider_container img {
	max-width: 100%;
}
#nav-block .sider_container {
	position: relative;
}
#nav-block .owl-controls{
	position: absolute;
    left: 45%;
    bottom: 19%;
}
#nav-block .owl-controls .owl-page{
	width: 18px;
	height: 18px;
	background-color: #ffffff;
	display: inline-block;
	margin: 11px;
	opacity: .9;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}
#nav-block .owl-controls .owl-page.active{
	background-color: #bbb7b4;
	opacity: 1;
}
.line{
	position: absolute;
    width: 32px;
    height: 100%;
    top: 0%;
    left: 17.5%;
    border-left: 1px solid #0036ff;
    border-right: 1px dashed #0036ff;
    background: transparent;
    z-index: 1;
    display: none;
}
#nav-block .wrap{
	position: absolute;
	top: 0%;
	left: 19.5%;
	height: 74%;
	z-index: 2;
	display: flex;
	align-items:center;
    flex-direction: column;
    width: 77%;
    padding: 0;
}
#nav-block .wrap .nav-logo{
	background-color: #ffffff;
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}
#nav-block .wrap .nav-logo .nav-bar ul{
	margin: 0;
	margin-right: 10px;
}
#nav-block .wrap .nav-logo .nav-bar li{
	text-transform: uppercase;
	font-family: "CenturyGothicBold";
	padding: 20px 20px;
	text-align: center;
}
#nav-block .wrap .nav-logo .nav-bar li a{
	color: #001840;
	text-decoration: none;
	font-size: 22px;
	white-space: pre-line;
}
#nav-block .wrap .nav-logo .nav-bar li a:hover{
	color: #001840;
	text-decoration: underline;
}
#nav-block .wrap .nav-logo .nav-bar{
	float: right;
}
#nav-block .wrap .nav-logo .nav-bar li{
	float: left;
}
#nav-block .wrap .nav-logo .logo{
	width: 150px;
	height: 80px;
	margin: 10px;
	background-color: #000000;
}
#nav-block .wrap .offer p{
	text-align: center;
	color: #001840;
    line-height: 60px;
    white-space: pre-line;
    font-family: "CenturyGothicBold";
    font-size: 25px;
    margin: 0;
    padding: 40px 62px;
}
#nav-block .wrap .offer{
    background: #fff;
    opacity: .9;
    margin: 62px 0;
}
#nav-block .wrap .about{
    background: #fff;
    opacity: .9;
    font-family: "CenturyGothicBold";
    display: flex;
}
#nav-block .wrap .about .info{
    color: #001840;
    white-space: pre-line;
    font-family: "CenturyGothicBold";
    font-size: 14px;
    line-height: 20px;
    margin: 35px 23px;
}
#nav-block .wrap .about .info i{
    color: #2652f4;
    font-family: "CenturyGothicBold";
    text-transform: uppercase;
    font-size: 27px;
    font-style: normal;
}
#nav-block .wrap .about .info .name{
    color: #2652f4;
    font-family: "CenturyGothicBold";
    text-transform: uppercase;
    font-size: 33px;
}
#nav-block .scroll-button{
	position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    bottom: 16%;
    left: 43.55%;
    z-index: 1;
    min-width: 175px;
    text-align: center;
}
#nav-block .scroll-button a .button-down{
	position: absolute;
	width: 35%;
}

#benefits{
	background-image: url('../img/bg-image/benefits-bg.jpg');
	background-size: 100%;
    position: relative;
}
#benefits .wrap{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 0 21%;
    padding: 0;
}
#benefits .wrap .title p{
	color: #2674f4;
	font-size: 36px;
	font-family: "CenturyGothicBold";
	margin-top:60px;
	text-transform: uppercase;
}
#benefits .wrap .schedule{
	width: 90%;
	margin:4.5% auto;
	position: relative;
}
#benefits .wrap .schedule img{
	width: 100%;
}
#benefits .wrap .collback-button{
	width: 100%;
    text-align: center;
    margin-bottom: 7%;
}
#benefits .wrap .collback-button a .button{
	width: 14%;
	position: absolute;
	left: 43.5%;
}
#benefits .block-icon{
	position: absolute;
    bottom: 2%;
    right: 5%;
    width: 10%;
}
#benefits .block-icon img{
    width: 100%;
}
#popup {
    display: none;
    left: 50%;
    position: fixed;
    top: 50%;
    z-index: 2000;
    background: #fff;
    width: 320px;
    padding:25px;
}
#popup h3{
	color: #001d3a;
	font-size: 18px;
	margin-bottom: 20px;
	white-space: pre-line;
	text-align: center;
	font-family: "CenturyGothicBold";
}
#popup p{
	padding-bottom:15px;
	text-align: center;
}
#imgcode{
float:left;
}
#popup input[type=text] {
	text-align: left;
	width: 300px;
	margin-right: 0;
	padding: 10px;
	display: block;
	margin: 20px 0px;
	border: 0;
	color: #797979;
	background: #f2f2f2;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 17px;
}
#popup textarea{
	text-align: left;
	width: 300px;
	padding: 10px 10px;
	display: block;
	margin: 10px 0px;
	border: 0;
	color: #797979;
	background: #f2f2f2;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 17px;
	height: 40px;
}
#popup .button{
	font-size: 16px;
	box-sizing: border-box;
	background: #ab6969;
	width: 140px;
	height: 35px;
	line-height: 35px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	text-shadow: none;
	border: 1px solid #705062;
	border-radius: 0;
	margin: 0 auto;
}
#popup .button:hover{
	background: rgba(171, 105, 105, 0.88);
}
#fade{
	display: none;
	background: #2c3e50;
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: .50;
	z-index: 1000;
	position: absolute;
}

#works{
	background-image: url('../img/bg-image/works-bg.jpg');
	background-size: 100%;
    position: relative;
}
#works .wrap{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 0 21%;
    padding: 0;
    width: 70%;
}
#works .wrap .title p{
	color: #2674f4;
	font-size: 36px;
	font-family: "CenturyGothicBold";
	margin:0;
	text-transform: uppercase;
}
#works .wrap .title{
	margin:60px 0;
}
#works .wrap .photos{
	width: 100%;
    position: relative;
    margin-bottom: 5%;
}

#works .wrap .photoset1{
	position: relative;
    width: 100%;
}
/* #works .wrap .photos .photoset1 img:after{
	content: "";
    background: black;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 1.2%;
    right: 0;
    position: absolute;
}
#works .wrap .photos .photoset1 img:hover:after{
	display: none;
} */
#works .wrap .photoset1 .photo1{
	position: relative;
	width: 17.13%;
	opacity:0.9;
	-moz-opacity:0.9;
	filter: alpha(opacity=90) black;
	-khtml-opacity: 0.9;
}
#works .wrap .photoset1 .photo1,.photo2,.photo3,.photo4,.photo5,.photo6,.photo7{
	opacity:0.9;
	-moz-opacity:0.9;
	filter: alpha(opacity=90) black;
	-khtml-opacity: 0.9;
}
#works .wrap .photoset1 .photo1:hover,.photo2:hover,.photo3:hover,.photo4:hover,.photo5:hover,.photo6:hover,.photo7:hover{
	opacity:1;
	-moz-opacity:1;
	filter: alpha(opacity=100) black;
	-khtml-opacity: 1;	
}
#works .wrap .photoset1 .photo2{
	position: relative;
    left: -0.6%;
    width: 38.6%;
}
#works .wrap .photoset1 .photo3{
    position: relative;
    right: 1.2%;
    width: 38.71%;
}
#works .wrap .photoset1 .photo4{
    position: absolute;
    float: right;
    width: 17.15%;
    right: 0%;
}
#works .wrap .photoset1 .photo5{
    position: relative;
    width: 41%;
    bottom: 5px;
}
#works .wrap .photoset1 .photo6{
    position: relative;
    bottom: 5px;
    left: -0.4%;
    width: 18.3%;
}
#works .wrap .photoset1 .photo7{
    position: absolute;
    width: 40.9%;
    bottom: 9px;
    right: 0;
} 
#works .wrap .collback-button{
	width: 94%;
    text-align: center;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-self: flex-end;
}
#works .wrap .collback-button a .buttoncb{
	position: absolute;
    width: 10%;
    left: 48%;
    bottom: 4%;
}
#works .wrap .collback-button a .gallery-button{
	position: absolute;
    width: 10%;
    bottom: 4.1%;
    right: 16.5%;
}
#works .block-icon{
	position: absolute;
    bottom: 2%;
    right: 5%;
    width: 10%;
    display: none;
}
#works .block-icon img{
    width: 100%;
}

#scopes{
	background-image: url('../img/bg-image/scopes-bg.jpg');
	background-size: 100%;
    position: relative;
}
#scopes .wrap{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 0 21%;
    padding: 0;
    width: 62%;
}
#scopes .wrap .title p{
	color: #2674f4;
	font-size: 36px;
	font-family: "CenturyGothicBold";
	margin:60px 0;
	text-transform: uppercase;
}
#scopes .wrap .scopes-content{
	width: 95%;
    position: relative;
    display: flex;
    align-self: center;
    margin-bottom: 2%;
    margin-left: 5%;
}
#scopes .wrap .scopes-content ul{
	width: 100%
}
#scopes .wrap .scopes-content ul li{
	margin:0;
	position: relative;
}
#scopes .wrap .scopes-content ul li .scopes-icon1,.scopes-icon2,.scopes-icon3,.scopes-icon4,.scopes-icon5,.scopes-icon6,.scopes-icon7{
	position: absolute;
    width: 7.5%;
    left: -3%;
    top: -10%;
}
#scopes .wrap .scopes-content ul li i{
	margin-left: 8%;
	font-size: 22px;
	color: #000;
	font-family: "CenturyGothicBold";
	font-style: normal;
	text-transform: uppercase;
}
#scopes .wrap .scopes-content ul li span{
	border-top: 2px solid #000;
    display: block;
    min-height: 74px;
}
#scopes .wrap .scopes-content ul li span p{
	font-size: 14px;
	color: #0060ff;
	font-family: "CenturyGothic";
	width: 90%;
	margin: 0 auto;
	display: none;
}
#scopes .wrap .scopes-content ul li .icon:hover  span p{
    display: block;
}
#scopes .wrap .collback-button{
	width: 100%;
    text-align: center;
    margin-bottom: 39px;
}
#scopes .wrap .collback-button a .button{
	width: 16%;
	position: absolute;
	left: 44%;
	bottom: 3%
}
#scopes .block-icon{
	position: absolute;
    bottom: 2%;
    right: 5%;
    width: 10%;
}
#scopes .block-icon img{
    width: 100%;
}

#options{
	background-image: url('../img/bg-image/options-bg.jpg');
	background-size: 100%;
    position: relative;
}
#options .wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 0 21%;
    padding: 0;
    width: 62%;
}
#options .wrap .title{
	margin:60px 0;
}
#options .wrap .title p{
	color: #2674f4;
	font-size: 36px;
	font-family: "CenturyGothicBold";
	margin:0;
	text-transform: uppercase;
}
#options .wrap .options-content {
    width: 90%;
    position: relative;
    display: flex;
    align-self: center;
    margin-bottom: 2%;
}
#options .wrap .accordeon {
    width: 93%;
    margin-left: 9%;
    margin-bottom: 6%;
    position: relative;
}
#options .wrap .accordeon .acc-head .button-block{
	width: 6%;
	cursor: pointer;
	position: absolute;
	bottom: -9%;
	left: -3%;
}
#options .wrap .accordeon .acc-head i{
	margin-left: 8%;
	font-size: 22px;
	color: #000;
	font-family: "CenturyGothicBold";
	font-style: normal;
	text-transform: uppercase;
}
#options .wrap .accordeon .acc-head {
	border-top: 2px solid #000;
	padding: 1.6% 0;
	position: relative;
}
#options .wrap .accordeon .last {
	border-bottom: 2px solid #000;
}
#options .wrap .accordeon .lastbody {
	border-top:none!important;
	border-bottom: 2px solid #000;
}
#options .wrap .accordeon .acc-body {
    padding: 10px;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    display: none;
}
#options .wrap .accordeon .acc-body table tr td{
	font-size: 14px;
	color: #0060ff;
	font-family: "CenturyGothicBold";
	width: 90%;
	margin: 0 auto;
}
#options .wrap .accordeon .acc-body table{
	width: 70%;
    padding-left: 2%;
    padding-bottom: 5px;
}
#options .wrap .collback-button {
    width: 94%;
    text-align: center;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-self: flex-end;
}
#options .wrap .collback-button a .buttoncb {
    position: absolute;
    width: 10%;
    left: 48%;
    bottom: 4%;
}
#options .wrap .collback-button a .price-button {
    position: absolute;
    width: 10%;
    bottom: 4.1%;
    right: 16.5%;
}

#reviews{
	background-image: url('../img/bg-image/reviews-bg.jpg');
	background-size: 100%;
    position: relative;
}
#reviews .wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 0 21%;
    padding: 0;
    width: 62%;
}
#reviews .wrap .title{
	margin:60px 0;
}
#reviews .wrap .title p{
	color: #2674f4;
	font-size: 36px;
	font-family: "CenturyGothicBold";
	margin:0;
	text-transform: uppercase;
}
#reviews .wrap .carousel-reviews{
	margin-bottom: 16%;
	width: 95%;
    align-self: flex-end;
}
#reviews .wrap .carousel-reviews .reviews_item{
	display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#reviews .wrap .carousel-reviews .reviews_item .reviews-block{
	background: #fff;
	padding: 30px;
    display: flex;
}
#reviews .wrap .carousel-reviews .reviews_item .photo-reviews{
	display: flex;
    flex-direction: column;
}
#reviews .wrap .carousel-reviews .reviews_item .photo-reviews{
	display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
#reviews .wrap .carousel-reviews .reviews_item .photo-reviews .photo{
	margin-bottom: 15px;
}
#reviews .wrap .carousel-reviews .reviews_item .photo-reviews .photo img{
	position: relative;
	z-index: 1;
}
#reviews .wrap .carousel-reviews .reviews_item .photo-reviews .border{
	position: absolute;
    border: 2px solid #000;
    width: 67%;
    height: 53%;
    left: 50%;
    top: 33%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}
#reviews .wrap .carousel-reviews .reviews_item .photo-reviews i{
	color:#001840;
	font-size: 26px;
	font-family: "CenturyGothicBold";
	font-style: normal;
}
#reviews .wrap .carousel-reviews .reviews_item .reviews-info{
	display: flex;
    flex-direction: column;
}
#reviews .wrap .carousel-reviews .reviews_item .reviews-info i{
	color: #001840;
    font-size: 26px;
    font-family: "CenturyGothicBold";
    font-style: normal;
    margin-right: 7%;
}
#reviews .wrap .carousel-reviews .reviews_item .reviews-info .date{
	text-align: right;
	position: absolute;
    bottom: 9%;
    right: 2%;
}
#reviews .wrap .carousel-reviews .reviews_item .reviews-info p{
	font-size: 16px;
    color: #0060ff;
    font-family: "CenturyGothic";
    margin: 20px 0 11% 43px;
}
#reviews .wrap .owl-controls{
	position: absolute;
    left: 40%;
    bottom: -28%;
}
#reviews .wrap .owl-controls .owl-page{
	width: 21px;
	height: 21px;
	background-color: #b4b2ff;
	display: inline-block;
	margin: 11px;
	opacity: .9;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}
#reviews .owl-controls .owl-page.active{
	background-color: #6a66ff;
	opacity: 1;
}
#reviews .wrap .collback-button{
	width: 100%;
    text-align: center;
    margin-bottom: 39px;
}
#reviews .wrap .collback-button a .button{
	width: 11%;
    position: absolute;
    left: 48%;
    bottom: 6%;
}
#reviews .block-icon {
    position: absolute;
    bottom: 2%;
    right: 5%;
    width: 10%;
}
#reviews .block-icon img {
    width: 100%;
}




.all-page-content{
	margin: 0 auto;
    max-width: 1920px;
    position: relative;
    background: #fff;
}

#footer{
	min-height: 50px;
	background-color: #0036ff;
}
#footer .wrap{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /* -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; */
    flex-direction:row;
    justify-content:flex-end;
    align-items:center;

}
#footer .contacts{
	float: right;
	margin:0;
}
#footer .contacts li{
	float: left;
	margin-left: 20px;
}
#footer .contacts ul{
	margin: 0;
}
#footer .contacts .location-icon {
	width: 18px;
	height: 25px;
	background: url('../img/icons/location.png');
	display: inline-block;
	margin-right: 18px;
    top: 8px;
    position: relative;
}
#footer .contacts .location-name {
	margin: 0;
	color:#ffffff;
	font-size: 14px;
	font-family: "CenturyGothic";
	line-height: 46px;
}
#footer .contacts .phone-icon {
	width: 21px;
	height: 21px;
	background: url('../img/icons/phone.png');
	display: inline-block;
	margin-right: 18px;
    top: 6px;
    position: relative;
}
#footer .contacts .phone-name {
	margin: 0;
	color:#ffffff;
	font-size: 14px;
	font-family: "CenturyGothic";
	line-height: 48px;
}
#footer .contacts .email-icon {
	width: 22px;
	height: 16px;
	background: url('../img/icons/mail.png');
	display: inline-block;
	margin-right: 18px;
    top: 3px;
    position: relative;
}
#footer .contacts .email-name {
	margin: 0;
	color:#ffffff;
	font-size: 14px;
	font-family: "CenturyGothic";
	line-height: 48px;
}









/* gellery */
#all-gellery-wrap{
	position: relative;
	background-color: #d2dbff;
}
#all-gellery-wrap .all-page-content {
    margin: 0 auto;
    max-width: 1920px;
    position: relative;
    background: transparent;
}
#all-gellery-wrap .wrap .nav-logo{
	background-color: #ffffff;
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}
#all-gellery-wrap .wrap .nav-logo .nav-bar ul{
	margin: 0;
	margin-right: 10px;
}
#all-gellery-wrap .wrap .nav-logo .nav-bar li{
	text-transform: uppercase;
	font-family: "CenturyGothicBold";
	padding: 20px 20px;
	text-align: center;
}
#all-gellery-wrap .wrap .nav-logo .nav-bar li a{
	color: #001840;
	text-decoration: none;
	font-size: 22px;
	white-space: pre-line;
}
#all-gellery-wrap .wrap .nav-logo .nav-bar li a:hover{
	color: #001840;
	text-decoration: underline;
}
#all-gellery-wrap .wrap .nav-logo .nav-bar{
	float: right;
}
#all-gellery-wrap .wrap .nav-logo .nav-bar li{
	float: left;
}
#all-gellery-wrap .wrap .nav-logo .logo{
	width: 150px;
	height: 80px;
	margin: 10px;
	background-color: #000000;
}
#all-gellery-wrap .all-page-content .page-content{
    width: 90%;
    position: relative;
    display: flex;
    flex-direction:column;
    justify-content:center;
}
#all-gellery-wrap .all-page-content .page-content .page-content-row{
    position: relative;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
}