/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1918px) {
#benefits .wrap .schedule{
margin:4% auto;
}
#works .wrap .photoset1{
    width: 89%;
}
#works .wrap .title{
    margin:30px 0 30px 0;
}
#works .wrap .collback-button{
    margin-bottom: 39px;
}
#scopes .wrap .scopes-content ul li .scopes-icon1,.scopes-icon2,.scopes-icon3,.scopes-icon4,.scopes-icon5,.scopes-icon6,.scopes-icon7{
    top: -4%;
}
#scopes .wrap .title p {
    margin: 30px 0;
}
#scopes .wrap .scopes-content ul li span{
    min-height: 60px;
}
#options .wrap .accordeon .acc-head .button-block {
    width: 6.5%;
}

@media only screen and (max-width : 1600px) {
#nav-block .wrap .nav-logo .nav-bar li a {
    font-size: 19px;
}
#nav-block .wrap .offer {
    margin: 26px 0;
}
#nav-block .wrap .offer p {
    line-height: 45px;
    padding: 30px 62px;
}
#nav-block .wrap .about .info {
    white-space: normal;
    margin: 5px 23px;
}
#nav-block .owl-controls {
    left: 44.5%;
}
#nav-block .scroll-button {
    left: 43.3%;
}
#nav-block .scroll-button a .button-down{
    width: 28%;
}
#benefits .wrap .title p {
    font-size: 28px;
    margin-top: 42px;
}
#works .wrap .title p {
    font-size: 28px;
}
#works .wrap .title{
    margin-top: 42px;
}
#scopes .wrap .title p {
    font-size: 28px;
    margin:20px 0 20px 0;
}
#nav-block .wrap {
    left: 11.5%;
}
#works .wrap .photoset1 {
    width: 89%;
}
#scopes .wrap .scopes-content ul li .scopes-icon1,.scopes-icon2,.scopes-icon3,.scopes-icon4,.scopes-icon5,.scopes-icon6,.scopes-icon7{
    top: 6%;
}
#scopes .wrap .scopes-content ul li span{
    min-height: 45px;
}
#options .wrap .accordeon .acc-head .button-block {
    width: 7.5%;
    left: -3.5%;
}
}

@media only screen and (max-width : 1200px) {
#nav-block .wrap {
    left: 11.1%;
    height: 70%;
}
#nav-block .wrap .nav-logo .logo {
    display: flex;
}
#nav-block .wrap .nav-logo .nav-bar li a {
    font-size: 13px;
}
#nav-block .wrap .offer{
	margin: 10px 0;
    background: #fff;
    opacity: .9; 
}
#nav-block .wrap .offer p {
    color: #001840;
    padding: 15px 62px;
    background: #fff;
    line-height: 35px;
    opacity: .9;
    white-space: pre-line;
    font-family: "CenturyGothicBold";
    font-size: 20px;
    margin: 0;
    padding: 15px 50px;
}
#nav-block .wrap .about .info {
    color: #001840;
    white-space: normal;
    font-family: "CenturyGothicBold";
    font-size: 13px;
    line-height: 17px;
    margin: 10px 23px;
}
#nav-block .wrap .about .info i {
    font-size: 20px;
}
#nav-block .owl-controls{
    left: 41%;
}
#nav-block .scroll-button {
    left: 39.2%;
}
#nav-block .scroll-button a .button-down{
    width: 25%;
}
#nav-block .wrap .about .info .name {
    font-size: 26px;
}
#benefits .wrap .title p {
    font-size: 24px;
    margin-top: 18px;
}
#works .wrap .title p{
    font-size: 24px;
}
#works .wrap .title{
    margin: 18px 0 18px 0;
}
#works .wrap .photos {
    margin-bottom: 3%;
}
#works .wrap .photoset1 {
    width: 89%;
}
#works .wrap .photoset1 .photo1{
    width: 16%;
}
#works .wrap .photoset1 .photo2{
    width: 36.06%;
    left: -0.7%;
}
#works .wrap .photoset1 .photo3{
    width: 36.16%;
    right: 1.29%;
}
#works .wrap .photoset1 .photo4{
    width: 16%;
    right: 0;
    top: 0px;
}
#works .wrap .photoset1 .photo5{
    width: 43.35%;
    bottom: 5px;
}
#works .wrap .photoset1 .photo6{
    bottom: 5px;
    left: -1%;
    width: 19.37%;
}
#works .wrap .photoset1 .photo7{
    width: 43.2%;
    /* left: 0; */
    bottom: 9px;
}
#works .wrap .photoset1:after{
    bottom: 2.2%;
}
#scopes .wrap .title p {
    font-size: 23px;
    margin:18px 0 18px 0;
}
#scopes .wrap .scopes-content ul li .scopes-icon1,.scopes-icon2,.scopes-icon3,.scopes-icon4,.scopes-icon5,.scopes-icon6,.scopes-icon7{
    top: 2%;
}
#scopes .wrap .scopes-content ul li .scopes-icon1,.scopes-icon2,.scopes-icon3,.scopes-icon4,.scopes-icon5,.scopes-icon6,.scopes-icon7{
    top: -4%;
}
#scopes .wrap .scopes-content ul li i {
    font-size: 16px;
}
#scopes .wrap .scopes-content ul li span{
    min-height: 30px;
}
#scopes .wrap .scopes-content ul li span p{
    font-size: 10px;
}
#options .wrap .accordeon .acc-head .button-block {
    width: 8.5%;
    left: -4%;
}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}