/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1918px) {
#nav-block .wrap {
    left: 16.5%;
}
#benefits .wrap .schedule{
margin:4% auto;
}
#works .wrap .photoset1{
    width: 89%;
}
#works .wrap .title{
    margin:30px 0 30px 0;
}
#works .wrap .collback-button{
    margin-bottom: 39px;
}
#scopes .wrap .scopes-content ul li .scopes-icon1,.scopes-icon2,.scopes-icon3,.scopes-icon4,.scopes-icon5,.scopes-icon6,.scopes-icon7{
    top: -8%;
}
#scopes .wrap .title p {
    margin: 30px 0;
}
#scopes .wrap .scopes-content ul li span{
    min-height: 60px;
}
#scopes .wrap .scopes-content .acc-head2 .button-block2 {
    bottom: -26%;
}
#options .wrap .accordeon .acc-head .button-block {
    width: 6.3%;
    left: -3%;
}
#reviews .wrap .carousel-reviews .reviews_item .reviews-info p {
    font-size: 15px;
}

}
@media only screen and (max-width : 1600px) {
#nav-block .wrap .nav-logo .nav-bar li a {
    font-size: 19px;
}
#all-gallery-wrap .wrap .nav-logo .nav-bar li a {
    font-size: 19px;
}
#all-album-wrap .wrap .nav-logo .nav-bar li a {
    font-size: 19px;
}
#nav-block .wrap .offer {
    margin: 26px 0;
}
#nav-block .wrap .offer p {
    line-height: 45px;
    padding: 30px 62px;
}
#nav-block .wrap .about .info {
    white-space: normal;
    margin: 5px 23px;
}
#nav-block .owl-controls {
    left: 44.5%;
}
#nav-block .scroll-button {
    left: 43.3%;
}
#nav-block .scroll-button a .button-down{
    width: 28%;
}
#benefits .wrap .title p {
    font-size: 28px;
    margin-top: 42px;
}
#works .wrap .title p {
    font-size: 28px;
}
#works .wrap .title{
    margin-top: 42px;
}
#scopes .wrap .title p {
    font-size: 28px;
    margin:20px 0 20px 0;
}
#scopes .wrap .scopes-content .acc-head2 .button-block2 {
    bottom: -27%;
}
#nav-block .wrap {
    left: 11.5%;
}
#works .wrap .photoset1 {
    width: 89%;
}
#scopes .wrap .scopes-content ul li .scopes-icon1,.scopes-icon2,.scopes-icon3,.scopes-icon4,.scopes-icon5,.scopes-icon6,.scopes-icon7{
    top: 6%;
}
#scopes .wrap .scopes-content ul li span{
    min-height: 45px;
}
#options .wrap .accordeon .acc-head .button-block {
    width: 6.5%;
    left: -3.2%;
}
#reviews .wrap .carousel-reviews .reviews_item .photo-reviews .border{
    height: 48%;
    top: 27%;
}
#reviews .wrap .owl-controls {
    left: 35%;
    bottom: -23%;
}
}

@media only screen and (max-width : 1200px) {
#nav-block .wrap {
    left: 11.1%;
    height: 70%;
}
#nav-block .wrap .nav-logo .nav-bar li a {
    font-size: 14px;
}
#all-gallery-wrap .wrap .nav-logo .nav-bar li a {
    font-size: 14px;
}
#all-album-wrap .wrap .nav-logo .nav-bar li a {
    font-size: 14px;
}
#nav-block .wrap .offer{
	margin: 10px 0;
    background: #fff;
    opacity: .9; 
}
#nav-block .wrap .offer p {
    color: #001840;
    padding: 15px 62px;
    background: #fff;
    line-height: 35px;
    opacity: .9;
    white-space: pre-line;
    font-family: "CenturyGothicBold";
    font-size: 20px;
    margin: 0;
    padding: 15px 50px;
}
#nav-block .wrap .about .info {
    color: #001840;
    white-space: normal;
    font-family: "CenturyGothicBold";
    font-size: 13px;
    line-height: 17px;
    margin: 10px 23px;
}
#nav-block .wrap .about .info i {
    font-size: 20px;
}
#nav-block .owl-controls{
    left: 41%;
}
#nav-block .scroll-button {
    left: 39.2%;
}
#nav-block .scroll-button a .button-down{
    width: 25%;
}
#nav-block .wrap .about .info .name {
    font-size: 26px;
}
#benefits .wrap .title p {
    font-size: 24px;
    margin-top: 18px;
}
#works .wrap .title p{
    font-size: 24px;
}
#works .wrap .title{
    margin: 18px 0 18px 0;
}
#works .wrap .photos {
    margin-bottom: 3%;
}
#works .wrap .photoset1 {
    width: 89%;
}
#works .wrap .photoset1 .photo1{
    width: 17.2%;
}
#works .wrap .photoset1 .photo2{
    width: 38.7%;
    left: -0.7%;
}
#works .wrap .photoset1 .photo3{
    width: 27.7%;
    right: 1.4%;
}
#works .wrap .photoset1 .photo4{
    width: 17.3%;
    right: 0;
    top: 0px;
}
#works .wrap .photoset1 .photo5{
    width: 41.35%;
    bottom: 5px;
}
#works .wrap .photoset1 .photo6{
    bottom: 5px;
    left: -1%;
    width: 18.47%;
}
#works .wrap .photoset1 .photo7{
    width: 41.2%;
    /* left: 0; */
    bottom: 9px;
}
#works .wrap .photoset1:after{
    bottom: 2.2%;
}
#scopes .wrap .title p {
    font-size: 23px;
    margin:18px 0 18px 0;
}
#scopes .wrap .scopes-content ul li .scopes-icon1,.scopes-icon2,.scopes-icon3,.scopes-icon4,.scopes-icon5,.scopes-icon6,.scopes-icon7{
    top: 2%;
}
#scopes .wrap .scopes-content ul li .scopes-icon1,.scopes-icon2,.scopes-icon3,.scopes-icon4,.scopes-icon5,.scopes-icon6,.scopes-icon7{
    top: -4%;
}
#scopes .wrap .scopes-content ul li i {
    font-size: 16px;
}
#scopes .wrap .scopes-content ul li span{
    min-height: 30px;
}
#scopes .wrap .scopes-content ul li span p{
    font-size: 10px;
}
#scopes .wrap .scopes-content .acc-head2 i {
    font-size: 20px;
}
#options .wrap .accordeon .acc-head .button-block {
    width: 8%;
    left: -4%;
}
#options .wrap .accordeon .acc-body table{
    width: 100%;
}
#reviews .wrap .carousel-reviews .reviews_item .photo-reviews .border{
    height: 33%;
    top: 20%;
    width: 66%;
}
#options .wrap .accordeon .acc-head i {
    font-size: 20px;
}
#reviews .wrap .owl-controls {
    left: 33%;
    bottom: -15%;
}
#all-gallery-wrap .all-page-content .page-content .page-content-row .work p {
    font-size: 12px;
    /* text-align: center; */
}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}